[submodule ".vim/bundle/slimv"]
	path = .vim/bundle/slimv
	url = https://github.com/kovisoft/slimv.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/golang"]
	path = .vim/bundle/golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/jshint"]
	path = .vim/bundle/jshint
	url = https://github.com/Shutnik/jshint2.vim.git
[submodule ".vim/bundle/vcscommand"]
	path = .vim/bundle/vcscommand
	url = https://github.com/inkarkat/vcscommand.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
