[submodule ".nvim/bundle/slimv"]
	path = .nvim/bundle/slimv
	url = https://github.com/kovisoft/slimv.git
[submodule ".nvim/bundle/ctrlp.nvim"]
	path = .nvim/bundle/ctrlp.nvim
	url = https://github.com/kien/ctrlp.nvim.git
[submodule ".nvim/bundle/nvim-gitgutter"]
	path = .nvim/bundle/nvim-gitgutter
	url = https://github.com/airblade/nvim-gitgutter.git
[submodule ".nvim/bundle/syntastic"]
	path = .nvim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".nvim/bundle/nvim-airline"]
	path = .nvim/bundle/nvim-airline
	url = https://github.com/bling/nvim-airline
[submodule ".nvim/bundle/nvim-fugitive"]
	path = .nvim/bundle/nvim-fugitive
	url = git://github.com/tpope/nvim-fugitive.git
[submodule ".nvim/bundle/nvim-togglelist"]
	path = .nvim/bundle/nvim-togglelist
	url = https://github.com/milkypostman/nvim-togglelist.git
[submodule ".nvim/bundle/nvim-trailing-whitespace"]
	path = .nvim/bundle/nvim-trailing-whitespace
	url = https://github.com/bronson/nvim-trailing-whitespace.git
[submodule ".nvim/bundle/vdebug"]
	path = .nvim/bundle/vdebug
	url = https://github.com/joonty/vdebug.git
[submodule ".nvim/bundle/tmux-complete.nvim"]
	path = .nvim/bundle/tmux-complete.nvim
	url = git://github.com/wellle/tmux-complete.nvim.git
[submodule "dwm"]
	path = dwm
	url = git://git.suckless.org/dwm
[submodule "dmenu"]
	path = dmenu
	url = git://git.suckless.org/dmenu
[submodule ".nvim/bundle/nvim-go"]
	path = .nvim/bundle/nvim-go
	url = https://github.com/fatih/nvim-go.git
[submodule ".nvim/bundle/ag.nvim"]
	path = .nvim/bundle/ag.nvim
	url = https://github.com/rking/ag.nvim.git
[submodule ".nvim/bundle/nvim-sleuth"]
	path = .nvim/bundle/nvim-sleuth
	url = git://github.com/tpope/nvim-sleuth.git
[submodule ".nvim/bundle/ultisnips.git"]
	path = .nvim/bundle/ultisnips.git
	url = https://github.com/SirVer/ultisnips.git
[submodule ".nvim/bundle/nvim-snippets.git"]
	path = .nvim/bundle/nvim-snippets.git
	url = https://github.com/honza/nvim-snippets.git
[submodule ".nvim/bundle/nvim-jsx"]
	path = .nvim/bundle/nvim-jsx
	url = https://github.com/mxw/nvim-jsx.git
[submodule ".nvim/bundle/nvim-mustache-handlebars"]
	path = .nvim/bundle/nvim-mustache-handlebars
	url = https://github.com/mustache/nvim-mustache-handlebars.git
[submodule ".nvim/bundle/nvim-javascript.nvim"]
	path = .nvim/bundle/nvim-javascript.nvim
	url = git@github.com:pangloss/nvim-javascript.git
[submodule ".nvim/bundle/nvim-yankstack"]
	path = .nvim/bundle/nvim-yankstack
	url = https://github.com/maxbrunsfeld/nvim-yankstack.git
[submodule ".nvim/bundle/nvim-surround"]
	path = .nvim/bundle/nvim-surround
	url = git@github.com:tpope/nvim-surround.git
[submodule ".nvim/bundle/YouCompleteMe"]
	path = .nvim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
